include ../mixins/evidence.pug

h3(wiki="https://phasmophobia.fandom.com/wiki/Goryo") Goryo
    img(src="ghost-icons/goryo.png")
ul
    li D.O.T.S can only be seen through a video camera.
    li Will not enter D.O.T.S state if any player is in the same room as the ghost.
    ul
        li Otherwise enters D.O.T.S state more frequently than other ghosts.
    li Will never change its favourite room or roam long distances.
ul.evidence
    +emf
    +ultraviolet
    +dots(required=true)